.cart-block {
    background: #fff;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 40px;
    box-shadow: 0px 2px 4px #d7d7d7;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    .title {
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 20px;
        background: #007db5;
        font-family: "Metropolitano";
        font-size: 22px;
        line-height: 1;
    }
    .cart {
        width: 100%;
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .fullCart {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;
            .titles {
                width: 100%;
                display: flex;
                p {
                    text-align: center;
                    width: 25%;
                }
            }
        }
        .product-list {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .cart-summary {
            width: 100%;
            padding: 50px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
    }
}
