* {
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
}

.emptyCart {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    h3 {
        font-size: 36px;
    }
    span {
        color: #007db5;
        transition: all ease-in-out 0.3s;
    }
    :hover {
        color: #515151;
    }
    svg {
        padding-top: 5px;
    }
}

.cart-block {
    background: #fff;
    padding: 0px;
    box-sizing: border-box;
    margin-bottom: 40px;
    box-shadow: 0px 2px 4px #d7d7d7;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    .title {
        width: 100%;
        text-align: center;
        color: #fff;
        padding: 20px;
        background: #007db5;
        font-family: "Metropolitano";
        font-size: 22px;
        line-height: 1;
    }
    .cart {
        width: 100%;
        padding: 50px 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .fullCart {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            justify-content: center;
            align-items: center;
            .titles {
                width: 100%;
                display: flex;
                p {
                    text-align: center;
                    width: 25%;
                }
            }
        }
        .product-list {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .cart-summary {
            width: 100%;
            padding: 50px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .clear-cart {
                border: none;
                background: none;
                cursor: pointer;

                svg {
                    margin-left: 5px;
                }
            }
        }
        .check-out {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            button {
                cursor: pointer;
                width: 100%;
                text-align: center;
                transition: all ease-in-out 0.3s;
                background: #222;
                color: #fff;
                border: solid 1px;
                border-radius: 4px;
                font-size: 15px;
                font-weight: 700;
                text-transform: capitalize;
                padding: 14px 24px;
                font-family: "Metropolitano";
                display: inline-block;
                margin-top: 10px;
            }
            button:hover {
                background-color: #fff;
                color: #111;
            }

            .sub-total {
                color: #fc0fc0;
            }
        }
    }
}

.cartItem {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 25%;
        margin-bottom: 10px;
        img {
            width: 100px;
        }
        .remove {
            font-size: small;
            color: #515151;
            cursor: pointer;
            padding-bottom: 3px;
            border: none;
            background: none;
        }
    }
    .quantity {
        flex-direction: row;
        justify-content: center;
        gap: 15px;
    }
    .total-price {
        font-weight: 700;
        color: #515151;
    }
}
