.products-block {
  background-color: #fff;
  width: 100%;
  height: 782px;
  padding-top: 60px;
  padding-bottom: 60px;
  h3 {
    line-height: 1;
    font-family: Metropolitano;
    font-size: 28px;
    font-style: normal;
    margin-bottom: 20px;
    color: #111;
    padding: 5px 2%;
  }
  .products-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
