.product-item {
  font-family: "Metropolitano";
  width: 254px;
  height: 534px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  a {
    text-align: center;
    img {
      width: 234px;
      height: 234px;
      margin: 0 0 1em;
    }
    h2 {
      color: #222;
      height: 70px;
      line-height: 1;
      font-size: 17px;
      text-align: center;
      padding: 0 10px;
    }
    span {
      margin-bottom: 0.5em;
      font-size: 18px;
      color: #000;
      text-align: center;
      display: block;
    }
  }
  .rating {
    text-align: center;
    height: 50px;
    span {
      opacity: 0.7;
      font-size: 15px;
    }
  }
  .product-btn {
    cursor: pointer;
    border: 0;
    display: block;
    width: 200px;
    margin: 1em auto 0 auto;
    background: #f4768a;
    color: #fff;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    border-radius: 4px;
    padding: 14px 30px;
    transition: all ease-in-out 0.3s;
  }
  .product-btn:hover {
    background: #111;
  }
  p {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 1.4;
    color: #111;
    font-weight: normal;
  }
}
