.category-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  padding: 5px 2%;
  .category-btn {
    width: 100%;
    text-align: center;
    transition: all ease-in-out 0.3s;
    background: #222;
    color: #fff;
    border: solid 1px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 14px 24px;
    font-family: "Metropolitano";
    display: inline-block;
    margin-top: 10px;
  }
  .category-btn:hover {
    background-color: #fff;
    color: #111;
  }
  img {
    width: 313px;
    height: 467px;
  }
}

.categories-block {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
}
