.not-found {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        color: #111;
        font-family: Metropolitano;
        font-size: 52px;
        font-style: normal;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 20px;
        padding-top: 30px;
    }
    .back-link {
        padding: 15px;
        p {
            color: #f4768a;
        }
    }
}
