.green-info {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47.4px;
  background: #53b99a;
  padding: 6px 0px 9px 0px;
  p {
    margin-bottom: 0;
    font-weight: 700;
    color: #fff;
  }
}
