.reviews-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 308px;
  background-color: #f1f1f1;
  .profile {
    display: flex;
    flex-direction: row;
    gap: 10px;
    .profile-img {
      img {
        width: 65px;
        height: 65px;
      }
    }
    .profile-details {
      padding: 3px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  .profile-block {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .profile-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    a {
      font-size: 13.3px;
      padding-right: 10px;
      opacity: 0.7;
      text-decoration: underline;
      color: inherit;
    }
  }
}
