.sorting {
  margin: 16px 0;
  float: right;
  form {
    font-family: 'Maven Pro', sans-serif;
    select {
      background: #fff;
      border: 1px solid #d7d7d7;
      padding: 8px 20px 8px 10px;
      position: relative;
    }
  }
}
