.header {
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 104px;
  width: 100%;
  .search {
    width: 33.3%;
    display: flex;
    align-items: center;
    input {
      box-sizing: border-box;
      border: 1px solid #d7d7d7;
      border-radius: 4px;
      font-size: 14px;
      padding: 12px 8px;
      position: relative;
      text-indent: 8px;
      width: 100%;
      transition: all ease-in-out 0.2s;
    }
    .search-btn {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 2px;
      background: none;
      height: 16px;
      border: none;
      position: relative;
      width: 16px;
      right: 35px;
      img {
        width: 16px;
        height: 16px;
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 33.3%;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
      transition: all ease-in-out 0.3s;
      color: #111;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
.nav {
  background-color: #f4768a;
  height: 60px;
  ul {
    text-align: center;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    width: 100%;
    height: 100%;
    li {
      transition: all ease-in-out 0.5s;
      padding: 22px 0px;
      transform: scaleX(1);
      display: inline-block;
      font-family: 'gambado-sans', sans-serif;
      color: #fff;
      font-size: 14px;
      font-weight: 900;
      text-align: center;
      width: 100%;
    }
  }
  li:hover {
    color: #111;
    background-color: #fff;
  }
}
