.footer {
  background: #232323;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: auto;
  width: 100%;
  height: 330px;
  img {
    width: 135px;
    margin: 0 auto;
    display: block;
  }
  p {
    text-align: center;
    font-size: 8px;
    color: #fff;
    margin-bottom: 16px;
    line-height: 1.4;
    font-weight: normal;
  }
  h3 {
    font-family: "Metropolitano";
    margin-bottom: 20px;
    color: #fff;
    font-size: 28px;
    font-style: normal;
    line-height: 1;
  }
  ul {
    list-style: none;
    a {
      transition: all ease-in-out 0.3s;
      color: #fff;
      text-decoration: none;
      line-height: 2;
    }
    a:hover {
      color: #f4768a;
    }
  }
}

.lower-footer {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 129px;
  background: #333;
  color: #fff;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 0px;

  a {
    color: #fff;
  }
}

@media only screen and (max-width: 770px) {
  .footer {
    display: none;
  }
}
