.banner {
  width: 100%;
  height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url('../../images/easter-background-yellow.jpg');
  background-color: #c47a7a;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  h1 {
    font-family: Metropolitano;
    line-height: 1;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    color: #111;
    padding-top: 30px;
    font-size: 52px;
  }
  p {
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.4;
    color: #111;
    font-weight: normal;
  }

  .order-block {
    padding: 5px 2%;
    text-align: center;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.4;
    color: #111;
    font-weight: normal;
    a {
      font-family: Metropolitano;
      transition: all ease-in-out 0.3s;
      background: #222;
      color: #fff;
      border-radius: 4px;
      font-size: 15px;
      font-weight: 700;
      text-transform: capitalize;
      padding: 14px 24px;
      display: inline-block;
      margin-top: 10px;
    }
    a:hover {
      background-color: #585858;
      color: #f9e2e2;
    }
  }
}
